header{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #171717;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.menu-btn{
   display: none;
}


.container-btn{
    visibility: hidden;
}

@media (max-width: 600px) {
    
    .menu-btn{
        visibility: visible;
    }


   


}
    
